.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  -webkit-backdrop-filter: blur(px);
  backdrop-filter: blur(5px);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 0.5);;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  outline: 0;
}


.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600;
}
.close {
  float: right;
  font-size: 34px;
  font-weight: 700;
  color: #777;
  transition: 0.5s;
}
.close:hover {
  color: #d4a5a5;
  cursor: pointer;
  opacity: 0.75;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.modal_img img{
  height: 100%;
  max-width: 100%;
  padding: 25px;
}

@media only screen and (max-width: 700px){
  .myModal{
    margin: 0 5px;
      background: rgba(255, 255, 255, 0.2);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
  }

  .modal_img img{
    padding: 5px;
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
  }
  
}